@import "../App.scss";

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 80vh;
  width: 100%;
  position: absolute;

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &__gradient {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      0deg,
      rgba(34, 1, 68, 1) 0%,
      rgba(34, 1, 68, 0) 100%
    );
  }

  &__overlay--blue-light {
    background-color: rgba($blue-light, 0.4);
  }

  &__overlay--blue-dark {
    background-color: $overlay-blue-dark;
  }

  &__overlay--pink {
    background-color: rgba($pink, 0.3);
  }

  &__overlay--yellow {
    background-color: $overlay-yellow;
  }

  &__overlay--green {
    background-color: $overlay-green;
  }

  &__overlay--transparent {
    background-color: transparent;
  }
}
