// Colors
$pink: #fa68bd;
$blue-light: #58dffc;
$blue-dark: #4784ce;
$yellow: #fffed9;
$purple-black: #220144;
$green: #c7e866;

$hover: #B66FFF;

$overlay-pink: rgba(250, 104, 189, 0.5);
$overlay-blue-light: rgba(88, 223, 252, 0.5);
$overlay-blue-dark: rgba(71, 132, 206, 0.5);
$overlay-yellow: rgba(255, 254, 217, 0.5);
$overlay-green: rgba(199, 232, 102, 0.5);
